.icon {
    background-image: url('/assets/images/sprites/sprite-e79e95cc.svg');
}
.no-svg .icon {
    background-image: url('/assets/images/sprites/sprite-e79e95cc.png');
}
.icon--clear-view-escapes {
    background-position: 0 0;
    width: 144.4px;
    height: 61.53px;
}
.icon--comment {
    background-position: 99.71014492753623% 0;
    width: 66px;
    height: 66px;
}
.icon--facebook {
    background-position: 26.424310365536293% 45.92133741323979%;
    width: 23.23px;
    height: 44.01px;
}
.icon--fire {
    background-position: 0 99.58035714285714%;
    width: 58px;
    height: 66px;
}
.icon--globe {
    background-position: 28.019323671497585% 99.58035714285714%;
    width: 66px;
    height: 66px;
}
.icon--instagram {
    background-position: 63.059522249879905% 49.25740726919919%;
    width: 44.01px;
    height: 44.01px;
}
.icon--mail {
    background-position: 0 48.0703125%;
    width: 66px;
    height: 50px;
}
.icon--rain {
    background-position: 99.71014492753623% 58.92857142857143%;
    width: 66px;
    height: 66px;
}
.icon--star {
    background-position: 59.90338164251208% 99.58035714285714%;
    width: 66px;
    height: 66px;
}
.icon--twitter {
    background-position: 94.15199343125627% 98.55159026429745%;
    width: 53.78px;
    height: 44.06px;
}
.icon--wifi {
    background-position: 68.43601895734596% 0;
    width: 62px;
    height: 66px;
}
.icon--youtube {
    background-position: 37.76931216931217% 45.917910447761194%;
    width: 36.75px;
    height: 44px;
}
